<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,1061},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,213},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{230,213},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{459,213},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{212,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{230,1275},{212,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{210,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{688,213},{210,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{210,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,425},{210,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{210,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{228,425},{210,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{210,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{455,425},{210,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{212,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{457,1275},{212,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{210,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{680,425},{210,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{232,1061},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{212,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{682,1275},{212,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{212,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,1489},{212,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{210,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,637},{210,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{210,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{228,637},{210,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{212,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{226,1489},{212,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{212,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{453,1489},{212,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{455,637},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{684,637},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,849},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{212,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{680,1489},{212,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{210,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,1703},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{232,1703},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{210,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{230,849},{210,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{210,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{461,849},{210,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{210,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{692,849},{210,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{463,1703},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{694,1703},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{210,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{232,1},{210,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{210,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{463,1},{210,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{463,1061},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{212,229}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{694,1061},{212,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{212,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{1,1275},{212,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{210,227}</string>
                <key>spriteSourceSize</key>
                <string>{224,229}</string>
                <key>textureRect</key>
                <string>{{694,1},{210,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>圣水守护.png</string>
            <key>size</key>
            <string>{924,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f8242744954ae211e340c3d1051377f:8bdc2e2c1c31da8aae342c9b95720cbf:24ec7d7645041802c0fa2a7fa6b75b51$</string>
            <key>textureFileName</key>
            <string>圣水守护.png</string>
        </dict>
    </dict>
</plist>
