<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{224,204}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1541,447},{224,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,8}</string>
                <key>spriteSize</key>
                <string>{254,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1267,1},{254,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9}</string>
                <key>spriteSize</key>
                <string>{256,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{753,1},{256,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,9}</string>
                <key>spriteSize</key>
                <string>{258,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{493,1},{258,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{242,292}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1,589},{242,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{244,292}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,5}</string>
                <key>spriteSize</key>
                <string>{244,292}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1,295},{244,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,5}</string>
                <key>spriteSize</key>
                <string>{244,292}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{247,1},{244,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-21}</string>
                <key>spriteSize</key>
                <string>{252,224}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1799,1},{252,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{250,224}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{767,255},{250,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-23}</string>
                <key>spriteSize</key>
                <string>{248,222}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1291,253},{248,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{222,202}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{247,571},{222,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-24}</string>
                <key>spriteSize</key>
                <string>{248,222}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1541,223},{248,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{274,222}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{247,295},{274,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{274,220}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1523,1},{274,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{272,220}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{493,255},{272,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{270,218}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1019,253},{270,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-18}</string>
                <key>spriteSize</key>
                <string>{220,198}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{693,693},{220,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{981,685},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1203,691},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{222,202}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1751,667},{222,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{250,204}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1767,461},{250,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{222,202}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1527,653},{222,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{248,204}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1791,255},{248,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{471,691},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-12}</string>
                <key>spriteSize</key>
                <string>{252,210}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{727,481},{252,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-12}</string>
                <key>spriteSize</key>
                <string>{252,210}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1019,473},{252,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-11}</string>
                <key>spriteSize</key>
                <string>{252,212}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1273,477},{252,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-11}</string>
                <key>spriteSize</key>
                <string>{254,212}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{471,477},{254,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,8}</string>
                <key>spriteSize</key>
                <string>{254,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,306}</string>
                <key>textureRect</key>
                <string>{{1011,1},{254,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>皇家圣水迪莫.png</string>
            <key>size</key>
            <string>{2040,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d65bcc3a085bf67665bbaac5ea38605d:7cd96ecbf55e725658d9fc53f04673d1:ff5040e48b1ac683a507085b0fee6c29$</string>
            <key>textureFileName</key>
            <string>皇家圣水迪莫.png</string>
        </dict>
    </dict>
</plist>
