<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{420,344}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{853,785},{420,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{422,344}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{351,1855},{422,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{422,346}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{353,1429},{422,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{422,348}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,1855},{422,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{424,350}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,1429},{424,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{424,352}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,717},{424,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{424,352}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{427,357},{424,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{418,354}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,2705},{418,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{420,356}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{853,1},{420,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{420,356}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,1071},{420,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{416,356}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{423,1071},{416,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{422,344}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1275,785},{422,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{416,358}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1555,419},{416,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{416,356}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{701,1473},{416,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{424,356}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{424,356}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,359},{424,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{424,354}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{427,1},{424,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{424,352}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{427,711},{424,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{424,352}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{853,359},{424,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{424,352}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1275,1},{424,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{420,350}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{421,2705},{420,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{420,348}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1119,1479},{420,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{420,346}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1265,1131},{420,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{420,348}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1687,1199},{420,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{414,344}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{843,2523},{414,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{414,342}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1189,2521},{414,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{414,340}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1533,2641},{414,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{422,340}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{841,1131},{422,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{422,338}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1541,1621},{422,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{422,336}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1541,1961},{422,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{424,346}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1,2279},{424,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{424,346}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1207,359},{424,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{424,344}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{349,2279},{424,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{418,344}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1699,779},{418,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{418,342}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1121,2177},{418,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{418,346}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{701,1831},{418,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{418,346}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1121,1829},{418,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{416,340}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1541,2299},{416,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{416,342}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{1701,1},{416,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{416,342}</string>
                <key>spriteSourceSize</key>
                <string>{432,358}</string>
                <key>textureRect</key>
                <string>{{697,2179},{416,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>苍流.png</string>
            <key>size</key>
            <string>{2044,3060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42260a080987e89c56a405c4eb2f59b7:a6e567fb37ab2e5ce99884b6f6fb632b:ea70f1ad41f1e449750b0d84d0387938$</string>
            <key>textureFileName</key>
            <string>苍流.png</string>
        </dict>
    </dict>
</plist>
