<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{776,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{853,0},{77,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{314,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{391,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{391,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{391,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{699,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{699,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{699,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{699,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{314,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{314,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{314,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{622,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{622,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{622,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{622,0},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{391,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{545,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{545,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{545,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{545,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{468,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{468,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{468,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{468,0},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{154,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{234,0},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{930,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e07a00b9746cc79b026cdadb8930460c:e3a3364d3971426c6acdb59c22363aa8:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
