<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1255,1},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{793,1},{64,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{859,1},{64,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{64,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{925,1},{64,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{265,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{331,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{397,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{133,1},{64,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{463,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1321,1},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{529,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{595,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1387,1},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1453,1},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{991,1},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1057,1},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1123,1},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1189,1},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{661,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{727,1},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{64,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{199,1},{64,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>佛系水龙头665.png</string>
            <key>size</key>
            <string>{1518,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3873ff3e5a53b8018ea8225513bfbd2e:c0432911490a44a388332678e6f8cabb:a1b8f392be9063e45e541e1b17f53b3f$</string>
            <key>textureFileName</key>
            <string>佛系水龙头665.png</string>
        </dict>
    </dict>
</plist>
