<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{293,1319},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1681},{140,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1823},{140,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,1357},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{153,1499},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,745},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{295,1461},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{295,1603},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,889},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{153,1649},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{153,1799},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,601},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,153},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,463},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,617},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,771},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,305},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,457},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,1},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,151},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,1033},{140,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,1065},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{303,1745},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{303,1887},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{293,1175},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,301},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{285,451},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,609},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,761},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,925},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1079},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1233},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,1215},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{143,913},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1387},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1539},{140,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,155},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{474,510}</string>
                <key>textureRect</key>
                <string>{{1,309},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startButton.png</string>
            <key>size</key>
            <string>{444,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98c6cf834851a6da2892499ce4aab7e9:2d13af2cfda3c5c7e72eb41bd6ae001b:866e66c1ed353ed1b35113604313b862$</string>
            <key>textureFileName</key>
            <string>startButton.png</string>
        </dict>
    </dict>
</plist>
