<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{268,1},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{523,1},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{778,1},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1033,1},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1300,1},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1567,1},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1834,1},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2089,1},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1,202},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{256,202},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{505,202},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{199,245}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2344,1},{199,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{199,245}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{772,202},{199,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{199,251}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1019,202},{199,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{199,251}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1272,202},{199,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{199,251}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1525,202},{199,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{199,263}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1778,202},{199,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{199,263}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2043,202},{199,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{199,263}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2308,202},{199,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{199,251}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1,403},{199,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{199,251}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{254,403},{199,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{507,403},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{199,251}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{774,403},{199,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{199,245}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1027,403},{199,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1274,403},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1523,403},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1772,403},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2027,403},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2282,403},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1,604},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{268,604},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{535,604},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{199,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{802,604},{199,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1059,604},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1314,604},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{199,253}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1569,604},{199,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1824,604},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2073,604},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{199,249}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2322,604},{199,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{199,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1,805},{199,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{199,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{258,805},{199,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{199,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{515,805},{199,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{772,805},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{199,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1039,805},{199,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1296,805},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,265}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{199,255}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1563,805},{199,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{199,249}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{1820,805},{199,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2071,805},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,247}</string>
                <key>spriteSourceSize</key>
                <string>{199,265}</string>
                <key>textureRect</key>
                <string>{{2320,805},{199,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>金宝宝569.png</string>
            <key>size</key>
            <string>{2590,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11b0a1e520556dc97d0101464acdc93c:8e9bedbb0f952262f5b2884b758e5abf:9fec5e8a6cf8db2717b66e0ab188bb45$</string>
            <key>textureFileName</key>
            <string>金宝宝569.png</string>
        </dict>
    </dict>
</plist>
